#set-item{
    background-color: rgb(232, 144, 158);
    border: 2px solid pink;
    padding: 7px;
    width: 5%;
}
input{
    width: 30%;
    padding: 7px;
    margin-bottom: 30px;

}
table{
    width: 70%;
    margin-top: 20px;
    margin: auto;
}
thead{
    border-collapse: collapse;
}

th,td{
    border: 1px solid rgb(230, 115, 134);
    padding: 8px;
}